<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e8a876">  <td>19/09/17 11:09:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseTG.IngresoAmbiente()[pri:0, instance:test.TestBaseTG@59f99ea]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1846896625</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/09/17 11:10:09</td>   <td>9049</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBaseTG.LogIn()[pri:0, instance:test.TestBaseTG@59f99ea]">LogIn</td> 
  <td>main@1846896625</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/09/17 11:10:31</td>   <td>31755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseTG.IrHome(org.testng.ITestResult)[pri:0, instance:test.TestBaseTG@59f99ea]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1846896625</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>19/09/17 11:10:33</td>   <td>33253</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseTG.CloseChrome()[pri:0, instance:test.TestBaseTG@59f99ea]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1846896625</td>   <td></td> </tr>
</table>
